# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.factorypath
.gitattributes
logs
CREDITS.txt
README.txt
changelog.txt
source-fix.bat

# Files from Forge MDK
forge*changelog.txt
